.icon-large {
  font-size: 1.3333333333333333em;
  margin-top: -4px;
  padding-top: 3px;
  margin-bottom: -4px;
  padding-bottom: 3px;
  vertical-align: middle;');
}
.nav [class^="icon-"],
.nav [class*=" icon-"] {
  vertical-align: inherit;
  margin-top: -4px;
  padding-top: 3px;
  margin-bottom: -4px;
  padding-bottom: 3px;');
}
.nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  vertical-align: -25%;');
}
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large {
  line-height: .75em;
  margin-top: -7px;
  padding-top: 5px;
  margin-bottom: -5px;
  padding-bottom: 4px;');
}
.btn [class^="icon-"].pull-left,
.btn [class*=" icon-"].pull-left,
.btn [class^="icon-"].pull-right,
.btn [class*=" icon-"].pull-right {
  vertical-align: inherit;');
}
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large {
  margin-top: -0.5em;');
}
a [class^="icon-"],
a [class*=" icon-"] {
  cursor: pointer;');
}
ul.icons {
  text-indent: -1.5em;
  margin-left: 3em;');
}

.icon-plus{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b;');
}
.icon-plus{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b;');
}
.icon-plus-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe817;');
} 
.icon-minus{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2d;');
}
.icon-minus-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe816;');
}
.icon-info{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2139;');
}
.icon-left-thin{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2190;');
} 
.icon-left-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe847;');
} 
.icon-up-thin{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2191;');
}
.icon-up-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe845;');
} 
.icon-right-thin{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2192;');
}
.icon-right-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe846;');
} 
.icon-down-thin{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2193;');
} 
.icon-down-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe848;');
}
.icon-level-up{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x21b0;');
} 
.icon-level-down{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x21b3;');
}
.icon-switch{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x21c6;');
} 
.icon-infinity{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x221e;');
} 
.icon-plus-squared{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x229e;');
}
.icon-minus-squared{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x229f;');
}
.icon-home{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2302;');
} 
.icon-home-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe811;');
} 
.icon-keyboard{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2328;');
} 
.icon-erase{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x232b;');
} 
.icon-pause{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2389;');
}
.icon-pause-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe851;');
} 
.icon-fast-forward{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x23e9;');
} 
.icon-fast-fw{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe856;');
} 
.icon-fast-backward{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x23ea;');
} 
.icon-fast-bw{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe857;');
} 
.icon-to-end{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x23ed;');
} 
.icon-to-end-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe852;');
} 
.icon-to-start{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x23ee;');
}
.icon-to-start-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe854;');
} 
.icon-hourglass{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x23f3;');
} 
.icon-stop{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25a0;');
}
.icon-stop-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25aa;');
} 
.icon-up-dir{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25b4;');
} 
.icon-up-dir-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe841;');
} 
.icon-play{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25b6;');
} 
.icon-play-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84f;');
} 
.icon-right-dir{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25b8;');
} 
.icon-right-dir-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84d;');
} 
.icon-down-dir{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25be;');
}
.icon-down-dir-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe840;');
} 
.icon-left-dir{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25c2;');
} 
.icon-left-dir-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe842;');
}
.icon-adjust{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25d1;');
} 
.icon-cloud{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2601;');
}
.icon-cloud-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85c;');
}
.icon-umbrella{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2602;');
}
.icon-star{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2605;');
} 
.icon-star-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;');
} 
.icon-star-empty{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2606;');
}
.icon-star-empty-1,
.icon-collect{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;');
}
.icon-check-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2611;');
}
.icon-cup{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2615;');
} 
.icon-left-hand{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x261c;');
} 
.icon-up-hand{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x261d;');
} 
.icon-right-hand{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x261e;');
}
.icon-down-hand{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x261f;');
} 
.icon-menu{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2630;');
} 
.icon-th-list{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81b;');
} 
.icon-moon{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x263d;');
} 
.icon-heart-empty{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2661;');
} 
.icon-heart-empty-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;');
}
.icon-heart{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2665;');
} 
.icon-atten,
.icon-heart-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;');
} 
.icon-note{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x266a;');
}
.icon-note-beamed{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x266b;');
} 
.icon-music-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;');
} 
.icon-th{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x268f;');
}
.icon-layout{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;');
}
.icon-flag{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2691;');
} 
.icon-flag-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81f;');
}
.icon-tools{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2692;');
} 
.icon-cog{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2699;');
} 
.icon-accout,
.icon-cog-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82e;');
}
.icon-attention{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x26a0;');
} 
.icon-attention-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe834;');
}
.icon-flash{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x26a1;');
}
.icon-flash-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85d;');
}
.icon-record{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x26ab;');
} 
.icon-cloud-thunder{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x26c8;');
} 
.icon-cog-alt{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x26ef;');
} 
.icon-scissors{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2702;');
} 
.icon-tape{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2707;');
} 
.icon-flight{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2708;');
}
.icon-flight-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86f;');
} 
.icon-mail{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2709;');
}
.icon-mail-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;');
} 
.icon-edit{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x270d;');
} 
.icon-pencil{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x270e;');
} 
.icon-pencil-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe826;');
} 
.icon-feather{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2712;');
} 
.icon-check{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2713;');
} 
.icon-ok{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81a;');
} 
.icon-ok-circle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2714;');
} 
.icon-cancel{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2715;');
}
.icon-cancel-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe819;');
} 
.icon-cancel-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2716;');
} 
.icon-cancel-circle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe818;');
} 
.icon-asterisk{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2731;');
} 
.icon-cancel-squared{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x274e;');
} 
.icon-help{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2753;');
} 
.icon-attention-circle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2757;');
} 
.icon-quote{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x275e;');
} 
.icon-plus-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2795;');
}
.icon-plus-circle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe815;');
} 
.icon-minus-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2796;');
} 
.icon-minus-circle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe814;');
}
.icon-right{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x27a1;');
} 
.icon-direction{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x27a2;');
}
.icon-forward{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x27a6;');
} 
.icon-forward-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe824;');
} 
.icon-ccw{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x27f2;');
}
.icon-cw{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x27f3;');
} 
.icon-cw-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe844;');
} 
.icon-left{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b05;');
} 
.icon-up{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b06;');
} 
.icon-down{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b07;');
} 
.icon-resize-vertical{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b0c;');
} 
.icon-resize-horizontal{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b0d;');
} 
.icon-eject{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2ecf;');
}
.icon-list-add{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe003;');
}
.icon-list{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe005;');
} 
.icon-left-bold{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe4ad;');
} 
.icon-right-bold{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe4ae;');
}
.icon-up-bold{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe4af;');
}
.icon-down-bold{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe4b0;');
} 
.icon-user-add{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe700;');
} 
.icon-star-half{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe701;');
}
.icon-ok-circle2{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe702;');
} 
.icon-cancel-circle2{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe703;');
} 
.icon-help-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe704;');
} 
.icon-help-circle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe813;');
} 
.icon-info-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe705;');
} 
.icon-info-circle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe812;');
}
.icon-topic,
.icon-th-large{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe708;');
} 
.icon-eye{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70a;');
} 
.icon-eye-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81c;');
}
.icon-eye-off{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70b;');
} 
.icon-tag{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70c;');
}
.icon-tag-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81d;');
} 
.icon-tags{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70d;');
} 
.icon-camera-alt{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70f;');
} 
.icon-upload-cloud{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe711;');
} 
.icon-reply{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe712;');
} 
.icon-reply-all{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe713;');
}
.icon-code{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe714;');
} 
.icon-export{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe715;');
} 
.icon-export-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe825;');
}
.icon-print{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe716;');
} 
.icon-print-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe827;');
} 
.icon-retweet{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe717;');
} 
.icon-retweet-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe828;');
} 
.icon-comment{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe718;');
}
.icon-comment-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe829;');
}
.icon-chat{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe720;');
}
.icon-chat-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82a;');
}
.icon-vcard{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe722;');
} 
.icon-address{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe723;');
}
.icon-location{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe724;');
} 
.icon-location-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe833;');
} 
.icon-map{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe727;');
}
.icon-compass{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe728;');
}
.icon-trash{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe729;');
} 
.icon-trash-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe832;');
} 
.icon-doc{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe730;');
} 
.icon-doc-text-inv{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe731;');
} 
.icon-docs{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe736;');
}
.icon-doc-landscape{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe737;');
} 
.icon-archive{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe738;');
} 
.icon-rss{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73a;');
} 
.icon-share{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73c;');
} 
.icon-basket{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73d;');
}
.icon-basket-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82d;');
} 
.icon-shareable{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73e;');
} 
.icon-login{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe740;');
} 
.icon-login-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82b;');
} 
.icon-logout{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe741;');
} 
.icon-logout-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe836;');
} 
.icon-volume{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe742;');
} 
.icon-resize-full{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe744;');
} 
.icon-resize-full-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83b;');
} 
.icon-resize-small{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe746;');
} 
.icon-resize-small-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83c;');
}
.icon-popup{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74c;');
}
.icon-publish{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74d;');
}
.icon-window{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74e;');
} 
.icon-arrow-combo{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe74f;');
} 
.icon-zoom-in{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe750;');
} 
.icon-chart-pie{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe751;');
} 
.icon-zoom-out{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83d;');
} 
.icon-language{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe752;');
} 
.icon-air{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe753;');
}
.icon-database{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe754;');
}
.icon-drive{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe755;');
} 
.icon-bucket{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe756;');
}
.icon-thermometer{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe757;');
} 
.icon-down-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe758;');
} 
.icon-down-circle2{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83e;');
}
.icon-left-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe759;');
} 
.icon-right-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75a;');
}
.icon-up-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75b;');
}
.icon-up-circle2{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83f;');
} 
.icon-down-open{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75c;');
} 
.icon-down-open-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84c;');
} 
.icon-left-open{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75d;');
} 
.icon-left-open-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84b;');
} 
.icon-right-open{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75e;');
}
.icon-right-open-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84a;');
} 
.icon-up-open{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe75f;');
} 
.icon-up-open-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe849;');
} 
.icon-down-open-mini{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe760;');
} 
.icon-arrows-cw{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe843;');
} 
.icon-left-open-mini{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe761;');
} 
.icon-play-circle2{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe850;');
}
.icon-right-open-mini{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe762;');
}
.icon-to-end-alt{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe853;');
} 
.icon-up-open-mini{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe763;');
} 
.icon-to-start-alt{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe855;');
} 
.icon-down-open-big{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe764;');
} 
.icon-left-open-big{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe765;');
} 
.icon-right-open-big{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe766;');
} 
.icon-up-open-big{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe767;');
} 
.icon-progress-0{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe768;');
} 
.icon-progress-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe769;');
}
.icon-progress-2{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe76a;');
}
.icon-progress-3{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe76b;');
} 
.icon-back-in-time{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe771;');
} 
.icon-network{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe776;');
} 
.icon-inbox{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe777;');
} 
.icon-inbox-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85a;');
} 
.icon-install{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe778;');
} 
.icon-font{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe779;');
}
.icon-bold{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe77a;');
}
.icon-italic{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe77b;');
}
.icon-text-height{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe77c;');
} 
.icon-text-width{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe77d;');
} 
.icon-align-left{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe77e;');
} 
.icon-align-center{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe77f;');
} 
.icon-align-right{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe780;');
} 
.icon-align-justify{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe781;');
} 
.icon-list-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe782;');
} 
.icon-indent-left{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe783;');
}
.icon-indent-right{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe784;');
} 
.icon-lifebuoy{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe788;');
} 
.icon-mouse{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe789;');
} 
.icon-dot{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe78b;');
} 
.icon-dot-2{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe78c;');
} 
.icon-dot-3{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe78d;');
} 
.icon-suitcase{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe78e;');
} 
.icon-off{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86a;');
} 
.icon-road{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe78f;');
} 
.icon-flow-cascade{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe790;');
} 
.icon-list-alt{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe869;');
} 
.icon-flow-branch{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe791;');
} 
.icon-qrcode{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe868;');
} 
.icon-flow-tree{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe792;');
} 
.icon-barcode{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe867;');
} 
.icon-flow-line{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe793;');
} 
.icon-ajust{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe865;');
}
.icon-flow-parallel{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe794;');
} 
.icon-tint{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe864;');
} 
.icon-brush{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe79a;');
}
.icon-paper-plane{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe79b;');
}
.icon-magnet{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a1;');
} 
.icon-magnet-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe863;');
} 
.icon-gauge{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a2;');
} 
.icon-traffic-cone{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a3;');
} 
.icon-cc{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a5;');
}
.icon-cc-by{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a6;');
}
.icon-cc-nc{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a7;');
} 
.icon-cc-nc-eu{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a8;');
} 
.icon-cc-nc-jp{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7a9;');
} 
.icon-cc-sa{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7aa;');
} 
.icon-cc-nd{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7ab;');
} 
.icon-cc-pd{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7ac;');
}
.icon-cc-zero{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7ad;');
} 
.icon-cc-share{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7ae;');
} 
.icon-cc-remix{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe7af;');
} 
.icon-move{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf047;');
}
.icon-link-ext{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08e;');
}
.icon-check-empty{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf096;');
} 
.icon-bookmark-empty{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf097;');
} 
.icon-phone-squared{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf098;');
} 
.icon-twitter{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;');
} 
.icon-facebook{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09a;');
} 
.icon-github{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09b;');
} 
.icon-rss-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09e;');
} 
.icon-hdd{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a0;');
} 
.icon-certificate{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a3;');
} 
.icon-left-circled-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a8;');
} 
.icon-right-circled-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a9;');
}
.icon-up-circled-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0aa;');
}
.icon-down-circled-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ab;');
} 
.icon-tasks{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ae;');
} 
.icon-filter{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b0;');
} 
.icon-resize-full-alt{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b2;');
}
.icon-beaker{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c3;');
} 
.icon-docs-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c5;');
} 
.icon-blank{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c8;');
} 
.icon-menu-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c9;');
} 
.icon-list-bullet{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ca;');
} 
.icon-list-numbered{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cb;');
} 
.icon-strike{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cc;');
}
.icon-underline{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cd;');
} 
.icon-table{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ce;');
} 
.icon-magic{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d0;');
} 
.icon-money{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d6;');
} 
.icon-columns{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0db;');
} 
.icon-sort{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dc;');
} 
.icon-sort-down{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dd;');
} 
.icon-sort-up{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0de;');
} 
.icon-mail-alt{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e0;');
} 
.icon-gauge-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e4;');
} 
.icon-comment-empty{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e5;');
} 
.icon-ask,
.icon-chat-empty{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e6;');
} 
.icon-sitemap{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e8;');
} 
.icon-paste{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ea;');
} 
.icon-user-md{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf200;');
}
.icon-github-squared{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe862;');
} 
.icon-twitter-squared{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85f;');
} 
.icon-linkedin-squared{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe870;');
}
.icon-qq{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf32a;');
} 
.icon-skype-circled{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf33a;');
} 
.icon-renren{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf33c;');
}
.icon-sina-weibo{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf33f;');
} 
.icon-vkontakte{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf354;');
} 
.icon-smashing{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf357;');
} 
.icon-db-shape{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf600;');
} 
.icon-picture{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf304;');
} 
.icon-picture-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;');
} 
.icon-globe{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf30e;');
} 
.icon-globe-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85b;');
} 
.icon-leaf-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86d;');
} 
.icon-lemon{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf34b;');
} 
.icon-glass{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf378;');
} 
.icon-gift{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf381;');
} 
.icon-graduation-cap{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf393;');
} 
.icon-mic{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3a4;');
} 
.icon-videocam{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3a5;');
} 
.icon-headphones{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3a7;');
} 
.icon-palette{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3a8;');
} 
.icon-ticket{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3ab;');
} 
.icon-video{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3ac;');
} 
.icon-video-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;');
} 
.icon-target{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3af;');
} 
.icon-target-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe858;');
} 
.icon-music{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3b5;');
} 
.icon-trophy{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3c6;');
} 
.icon-award{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3c9;');
} 
.icon-thumbs-up{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf44d;');
} 
.icon-thumbs-up-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe820;');
} 
.icon-thumbs-down{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf44e;');
} 
.icon-thumbs-down-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe821;');
} 
.icon-bag{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf45c;');
} 
.icon-user{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf464;');
} 
.icon-user-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;');
}   
.icon-users{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf465;');
} 
.icon-group,
.icon-users-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;');
} 
.icon-lamp{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4a1;');
} 
.icon-alert{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4a5;');
} 
.icon-water{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4a6;');
} 
.icon-droplet{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4a7;');
} 
.icon-credit-card{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4b3;');
} 
.icon-credit-card-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe860;');
} 
.icon-monitor{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4bb;');
} 
.icon-briefcase{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4bc;');
} 
.icon-briefcase-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86c;');
} 
.icon-floppy{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4be;');
} 
.icon-floppy-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85e;');
}
.icon-cd{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4bf;');
} 
.icon-folder{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4c1;');
} 
.icon-folder-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe830;');
} 
.icon-folder-open{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4c2;');
}
.icon-doc-text{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4c4;');
} 
.icon-doc-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe831;');
}
.icon-calendar{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4c5;');
} 
.icon-calendar-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82c;');
} 
.icon-chart-line{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4c8;');
}
.icon-chart-bar{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4ca;');
} 
.icon-chart-bar-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe861;');
} 
.icon-clipboard{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4cb;');
} 
.icon-pin{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4cc;');
} 
.icon-attach{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4ce;');
} 
.icon-attach-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;');
}
.icon-bookmarks{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4d1;');
} 
.icon-book{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4d5;');
} 
.icon-library,  
.icon-book-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe866;');
} 
.icon-book-open{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4d6;');
} 
.icon-phone{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4de;');
} 
.icon-phone-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82f;');
} 
.icon-megaphone{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4e3;');
} 
.icon-megaphone-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86e;');
} 
.icon-upload{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4e4;');
} 
.icon-upload-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe823;');
} 
.icon-download{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4e5;');
} 
.icon-download-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe822;');
} 
.icon-box{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4e6;');
} 
.icon-newspaper{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4f0;');
} 
.icon-mobile{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4f1;');
} 
.icon-signal{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4f6;');
} 
.icon-signal-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe859;');
} 
.icon-camera{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4f7;');
} 
.icon-camera-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;');
} 
.icon-shuffle{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf500;');
} 
.icon-shuffle-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84e;');
} 
.icon-loop{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf501;');
} 
.icon-arrows-ccw{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf504;');
} 
.icon-light-down{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf505;');
} 
.icon-light-up{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf506;');
} 
.icon-mute{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf507;');
} 
.icon-volume-off{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe837;');
}
.icon-msg,
.icon-volume-down{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf509;');
} 
.icon-sound{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf50a;');
} 
.icon-volume-up{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe838;');
} 
.icon-battery{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf50b;');
} 
.icon-search{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf50d;');
} 
.icon-search-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;');
}
.icon-key{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf511;');
} 
.icon-key-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86b;');
} 
.icon-lock{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf512;');
} 
.icon-lock-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;');
} 
.icon-lock-open{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf513;');
} 
.icon-lock-open-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;');
} 
.icon-bell{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf514;');
} 
.icon-bell-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe835;');
} 
.icon-bookmark{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf516;');
} 
.icon-bookmark-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81e;');
} 
.icon-link{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf517;');
}
.icon-link-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe810;');
}
.icon-back{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf519;');
} 
.icon-fire{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf525;');
} 
.icon-flashlight{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf526;');
} 
.icon-wrench{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf527;');
} 
.icon-hammer{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf528;');
} 
.icon-chart-area{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf53e;');
} 
.icon-clock{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf554;');
} 
.icon-clock-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe839;');
}
.icon-rocket{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf680;');
} 
.icon-truck{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf69a;');
} 
.icon-block{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf6ab;');
}
.icon-block-1{
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83a;');
} 
.follow-group:hover .icon-ok {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe819;'); }